<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor/css/bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor.Shared/BootstrapBlazor.Shared.bundle.scp.css"]" />
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor.Shared/font/css/open-iconic-bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor.Shared/css/site.css"]" />
    <link rel="stylesheet" href="@Assets["BootstrapBlazor.Web.styles.css"]" />
    <!-- highlight -->
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor.Shared/highlight/css/vs.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/BootstrapBlazor.Shared/highlight/css/highlightjs-copy.min.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <ReconnectModal />
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <!-- highlight -->
    <script type="text/javascript" src="@Assets["_content/BootstrapBlazor.Shared/highlight/js/highlight.min.js"]"></script>
    <script type="text/javascript" src="@Assets["_content/BootstrapBlazor.Shared/highlight/js/cshtml-razor.min.js"]"></script>
    <script type="text/javascript" src="@Assets["_content/BootstrapBlazor.Shared/highlight/js/highlightjs-copy.min.js"]"></script>
    <script>
        if (hljs != null) {
            hljs.addPlugin(new CopyButtonPlugin());
        }
    </script>
</body>

</html>
